streamlit
pandas==2.0.3
numpy==1.25.2
keras==2.15.0

tensorflow
tensorflow-datasets==4.9.6
tensorflow-estimator==2.15.0
tensorflow-gcs-config==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-metadata==1.15.0
tensorflow-probability==0.23.0
